/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/****************/  /************************************************************************************/
/** Huisstijl ***/  
/****************/
:root {
	--starbucks-kenmerk: #006241;
	--starbucks-kenmerk-transparent: color-mix(in srgb, var(--starbucks-kenmerk) 20%, transparent 80%);
	--kenmerk-accent: #1e3932;
	--achtergrond-home: #ffffff;
	--achtergrond-onzekoffies: #f4f4f4;
	--tekst-hoofd: #000000;
	--tekst-subtiel: #ffffff;
	--tekst-informatie: #6d6d6d;
	--tekst-footer: #9b9b9b;
	--koffie-kleur: #362415;
	--font-body: 'Montserrat', sans-serif;
}

@media (prefers-color-scheme:dark) {  /* dit is voor de donkere modus */
	:root {                           /* kleuren moeten een lichtere tint zijn van het origineel */
	--starbucks-kenmerk: #005136;
	--starbucks-kenmerk-transparent: color-mix(in srgb, var(--starbucks-kenmerk) 20%, transparent 80%);
	--kenmerk-accent: #1e3932;
	--achtergrond-home: #2e2e2e;  
	--achtergrond-onzekoffies: #5d5d5d;
	--tekst-hoofd: #ffffff;      
	--tekst-subtiel: #ffffff;       
	--tekst-informatie: #ffffff;
	--tekst-footer: #9b9b9b;
	--koffie-kleur: #d1b49c;        
	}
}


/****************/  /***********************************************************************************/
/* gehele body **/  
/****************/
body {
	font-family: var(--font-body);
	color: var(--tekst-hoofd);
	padding-bottom: 75px;  /* zodat je de onderkant van de footer kan zien, anders zie je die niet */
}


/***************************/  /************************************************************************/
/******** de header ********/  
/***************************/
header {
	background-color: var(--achtergrond-home);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	border-bottom: 1px solid #eee;
}

header svg {
	width: 48px;
	height: auto;
}


/***************************/  /************************************************************************/
/* Sticky footer navigatie */  
/***************************/
nav[aria-label="Snelle navigatie"] {
    position: fixed;  /* blijft onderaan het scherm */
    bottom: 0;
    left: 0;
    width: 100%;  /* neemt hele breedte van het scherm */
    background-color: var(--achtergrond-home);
    border-top: 1px solid #eee;  /* subtiel lijntje boven de footer */
    padding: 0.5rem 0;  /* wat ruimte boven en onder */
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);  /* lichte schaduw boven */
    z-index: 1000;  /* boven andere content */
}

/* De ul-items naast elkaar */
nav[aria-label="Snelle navigatie"] ul {
    display: flex;  /* nu staan de li’s naast elkaar */
    justify-content: center;  /* in het midden van de footer */
    gap: 5rem;  /* ruimte tussen items */
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Links in footer */
nav[aria-label="Snelle navigatie"] a {
    display: flex;
    flex-direction: column;  /* icoon boven tekst */
    align-items: center;  /* alles in het midden */
    text-decoration: none;
    color: var(--tekst-hoofd);
    font-size: 0.90rem;
	padding-top: 0.75rem;
}

nav[aria-label="Snelle navigatie"] svg {
    width: 25px;
    height: 25px;
    margin-bottom: 0.25rem;  /* ruimte tussen icoon en tekst */
}

nav[aria-label="Snelle navigatie"] a:hover {
    color: var(--starbucks-kenmerk);  /* bijvoorbeeld groen bij hover */
}


/***************************/  /************************************************************************/
/********* footer **********/  
/***************************/
footer {
	background-color: var(--kenmerk-accent);
	padding: 2rem 1.2rem 1.2rem 1.2rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	margin-top: 2.5rem;
}

footer svg:first-of-type {
	width: 48px;
	height: auto;
	display: block;
	margin: 0;
}

footer > article {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

footer h3 {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0, 0, 0, 0,);
	overflow: hidden;
	white-space: nowrap;
}

footer article > nav {
	border-top: 0.01px solid rgb(64, 82, 59);
	padding-top: 1.5rem;
}

footer details {
	width: 100%;
}

footer details summary {
	font-weight: 600;
	cursor: pointer;
	padding: 0.5rem 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
	color: var(--tekst-subtiel);
}

/* verwijderd het standaard browser pijltje  v */
footer details summary::-webkit-details-marker {   
	display: none;
}

footer details[open] summary::after {
	content: "▲";
}

footer details summary::after {
	content: "▼";
	margin-left: 0.5rem;
}

/* alles in de details summary */
footer details ul {
	list-style: none;
	margin-top: 0.5rem;
	padding-left: 0;
}

footer details ul li a {
	text-decoration: none;
	color: var(--tekst-footer);       
	font-size: 0.9rem;
	display: block;
	padding: 0.5rem 0;
}

footer details ul li a:hover {
	color: var(--koffie-kleur);
}

/* de laatste 3 woorden onder aan de site */
footer nav ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
	padding: 0;
	margin: 0;
}

 footer nav ul li a {
	text-decoration: none;
	color: var(--tekst-footer);
	font-size: 0.8rem;
	font-weight: 600;
}

 footer nav ul li a:hover {
	color: var(--koffie-kleur);
 }

/* de icoontjes van apps */ 
footer > article > section:last-of-type {    
	display: flex;
	flex-direction: row;
	gap: 1.1rem;
	color: var(--tekst-subtiel);
	width: 35px;
}


/***************************/  /************************************************************************/
/****** hamburgermenu ******/  
/***************************/
button {
	background: none;
	border: none;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	gap: 5px;  /* de ruimte tussen de streepjes */
	padding: 0.5rem;
}

button > span {
	display: block;
	width: 24px;
	height: 2px;
	background: var(--tekst-hoofd);
	border-radius: 1px;
}

/* overgenomen van opdracht */
header nav:first-of-type {
	position: fixed;
	left: 0;
	right: 0;
	top: 5rem;
	bottom: 0;
	translate: -100% 0%;
	transition: translate .3s;
	background-color: var(--achtergrond-home);
	z-index: 1;
}

header nav:first-of-type.toonMenu {
	translate: 0% 0%;
}

/*vormgeving van de binnenkant van hamburgermenu */
header nav:first-of-type ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
	margin-left: 1rem;
}

header nav:first-of-type ul li a {
	text-decoration: none;
	color: var(--tekst-hoofd);
	font-size: 1.2rem;
}

header nav:first-of-type svg {
	margin-top: 1rem;
	width: 30px;
    height: 30px;
}

header nav:first-of-type details summary {
	font-size: 1.2rem;
	cursor: pointer;
	padding: 0.5rem 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
	color: var(--tekst-hoofd);
}

/* verwijderd het standaard browser pijltje  v */
header nav:first-of-type details summary::-webkit-details-marker {   
	display: none;
}

header nav:first-of-type details[open] summary::after {
	content: "▲";
}

header nav:first-of-type details summary::after {
	content: "▼";
	margin-left: 0.5rem;
}



/************************/  /************************************************************************/
/** responsive laptop ***/
/************************/
@media (min-width: 48em) {
	body {
		padding-bottom: 0;
	}

	/*************************/  /*******************************************************************/
	/******* de header *******/
	/*************************/	
	header > button {     
		display: none;  /* verbergt het hamburger menu knop */
	}

	header {
		padding-left: 2.5rem;
		padding-right: 7rem;
		position: sticky;
		top: 0;
		z-index: 1000;
	}

	header svg {
		width: 60px;
		margin-left: 2rem;
	}

	header nav:first-of-type {
		position: static;
		translate: none;
    	display: flex;   /* belangrijkste: laat de twee <ul> naast elkaar staan */
   	 	align-items: center;   
    	gap: 1rem;              
    	width: 100%;
	}

	header nav:first-of-type ul {
   	 	list-style: none;
    	margin: 0;
    	padding: 0;
    	display: flex;           
    	flex-direction: row;
		margin-left: 4.5rem; 
    	gap: 2rem;  /* ruimte tussen de links */
    	align-items: center;      
  	}
    
	header nav:first-of-type ul li a:hover {
		color: var(--starbucks-kenmerk);
	}

  	header nav:first-of-type ul:first-of-type {
    	flex: 1;                    
    	justify-content: flex-start;
 	}	

	header nav:first-of-type ul:first-of-type li a {
		font-size: 1rem;
		font-weight: 600;
	}

	header nav:first-of-type ul:last-of-type {
    	justify-content: flex-end; 
		padding-right: 2rem;
 	}
 
	header nav:first-of-type ul:last-of-type li a,
	header nav:first-of-type details summary {
		display: inline-flex;
		align-items: center;
		gap: 0.3rem;		
		font-size: 0.85rem;
		font-weight: 550;
	}
	
	header nav:first-of-type details ul {
    	position: absolute;
    	margin-top: 0.5rem;  /* kleine ruimte onder summary */
    	background: var(--achtergrond-home);
    	padding: 0.7rem;  /* binnenruimte dropdown */
    	border: 1px solid rgba(0,0,0,0.06);
    	border-radius: 4px;
    	box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    	display: flex;
    	flex-direction: column;
    	gap: 0.25rem;
    	min-width: 10%;  /* dropdown past zich aan aan inhoud */
 	}

	header nav:first-of-type ul:last-of-type svg {
    	width: 20px;   /* pas grootte aan naar wens */
    	height: 20px;
		margin-bottom: 1rem;
	}

	/*************************/  /*******************************************************************/
	/***** sticky footer *****/  /* sticky footer verbergen voor groot scherem */
	/*************************/	
	nav[aria-label="Snelle navigatie"] {
		display: none;
	}

 	/*************************/  /*******************************************************************/
	/******* de footer *******/
	/*************************/	
	footer {
		display: flex;
		flex-direction: row;
		gap: 4.5rem;
		align-items: flex-start;
		padding: 3rem 4.5rem;
		padding-right: 35rem;
		padding-bottom: 12rem;
	}

	footer > svg:first-of-type {
		width: 65px;
		height: auto;
		flex-shrink: 0;
	}

	footer > article {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		flex: 1;
	}

	footer > article > section:first-of-type {
		display: flex;
		flex-direction: row;
		gap: 3rem;
	}

	footer > article nav ul {
		display: flex;
		flex-direction: row;
		margin-top: 3rem;
		gap: 2rem;
	}

	footer > article > section:last-of-type {
		width: 30px;
		display: flex;
		flex-direction: row;
		gap: 1.5rem;
		margin-top: -1rem;
	}

	footer details {
		display: block;
	}

	footer details summary {
		cursor: default;
		pointer-events: none;
	}

	footer details summary::after,
	footer details[open] summary::after {  /* maakt de pijltjes onzichtbaar */
    	visibility: hidden;
	}

	footer details summary::-webkit-details-marker {
   		display: none;
	}

	footer details ul {
		display: block;
		margin-top: 0.5rem;
	}
}